<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant Finder" />
  <title>Hello Resto</title>
  <link rel="shortcut icon" href="../public/images/logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
  <a href="#content" class="skip">Menuju ke bagian konten</a>
  <header class="header">
    <nav id="nav" class="menu">
      <h1><a href="/">Hello Resto</a></h1>
      <button class="menu-button" title="off canvas button" aria-label="off canvas button">
        <i class="fas fa-times"></i>
        <i class="fas fa-bars"></i>
      </button>
      <ul class="nav-menu-list">
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/afrizal-adiestya-putra-55667522a/" target="_blank"
            rel="noreferrer">About Us</a></li>
      </ul>
    </nav>

    <div class="hero">
      <img src="./images/heros/hero-image_4.jpg" alt="gambar pada komponen hero">
      <div class="inner">
        <h1 class="title">Hello Resto</h1>
        <h2>Finding the restaurant became easier</h2>
      </div>
    </div>
  </header>
  <main>
    <div id="content">
      <section>
        <h2><span class="title-content">Find the best Restaurant</span></h2>
        <div class="row" id="resto-list"></div>
      </section>
    </div>
  </main>
  <footer>
    <p>&copy; Copyright 2023 - Hello Resto</p>
  </footer>
</body>

</html>